<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Day35</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<description></description>
  	<display-name>CustomerServlet</display-name>
  	<servlet-name>CustomerServlet</servlet-name>
  	<servlet-class>com.lijian.mvcapp.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<description></description>
  	<display-name>InitServlet</display-name>
  	<servlet-name>InitServlet</servlet-name>
  	<servlet-class>com.lijian.mvcapp.servlet.InitServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  <description></description>
  	<display-name>ProcessStep1Servlet</display-name>
  	<servlet-name>ProcessStep1Servlet</servlet-name>
  	<servlet-class>com.atguigu.javaweb.ProcessStep1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProcessStep1Servlet</servlet-name>
  	<url-pattern>/processStep1</url-pattern>
  </servlet-mapping>  
    <servlet>
  <description></description>
  <display-name>ProcessStep2Servlet</display-name>
  	<servlet-name>ProcessStep2Servlet</servlet-name>
  	<servlet-class>com.atguigu.javaweb.ProcessStep2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProcessStep2Servlet</servlet-name>
  	<url-pattern>/processStep2</url-pattern>
  </servlet-mapping> 
     <servlet>
  <description></description>
  <display-name>TestServlet</display-name>
  	<servlet-name>TestServlet</servlet-name>
  	<servlet-class>com.atguigu.javaweb.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/testServlet</url-pattern>
  </servlet-mapping> 
  
  
</web-app>